.banner{
    max-width: 1024px;
    height: 400px;
    margin: auto;
    padding: 50px;
    background-image: url(../images/banner.jpeg);
    background-size: cover;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.texto{
    /* width: auto; */
    color: aliceblue;
    margin-left: 50px;
    /* border-radius: 20px;    */
}

.image img{
    width: 400px;
    height: 330px;
    /* margin-left: 50px; */
}
/* img{
    width:500px;
    height: 330px;
} */
@media screen and (max-width:1024px){
    .banner{
        height: auto;
        flex-direction: column;
    }
    .image img{
        width: 100%;
        height: auto;
        
    }
    .texto{
        width: 100%;
        height: auto;
    }
    
}
